{% extends '::base.html.twig' %}

{% block title %}View2{% endblock %}

{% block body %}
    <div>Hi From View2</div>
    <div>
        <p>{{ msg }}</p>
        <p>{{ num }}</p>
    </div>
{% endblock %}